# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform lock file (Check this in for production)
# Uncomment the line below **ONLY IF** you do NOT want to track `.terraform.lock.hcl`
.terraform.lock.hcl

# Ignore Terraform crash logs
crash.log

# Terraform working directory
.terraform/
.terraform.d/
